accelerate
bitsandbytes
datasets
diffusers
transformers
huggingface_hub
hf_transfer
peft
decord
wandb
pandas
torch
torchvision
torchdata
torchao
sentencepiece
imageio-ffmpeg
numpy
deepspeed
opencv-python
imageio
ftfy
nvitop
av
matplotlib
kornia
ruff
qwen-vl-utils[decord]
